.card {
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.cardInner {
  background-color: var(--color-white);
  border-radius: 12px;
  box-shadow: var(--shadow-2dp);
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card:hover .cardInner {
  transform: translateY(-4px);
  box-shadow: var(--shadow-6dp);
}

.number {
  font-size: 12px;
  line-height: 16px;
  color: var(--color-gray-medium);
  font-weight: 500;
  margin-bottom: 8px;
  position: absolute;
  padding: 16px;
  right: 0;
}

.imageContainer {
  width: 100%;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  position: relative;
}

.ground {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  background-color: var(--color-gray-light);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.image {
  width: 80%;
  height: 80%;
  object-fit: contain;
  z-index: 1;
}

.name {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 8px;
  color: var(--color-black);
  text-align: center;
}

.types {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-top: auto;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  color: var(--color-gray-medium);
}
